# Default configuration file for dsmc service

---

#monitored_directory: /data/mm-xart002/runfolders/
monitored_directory: /tmp/
# On biotanks this will be the same as monitored_directory, 
# but on Irma we want an other path. 
path_to_archive_root: /data/mm-xart002/runfolders

port: 9494

# Used when running with localq runner to determine the maximum number of
# used for running checksums
number_of_cores: 4

# Path to the logs
dsmc_log_directory: /tmp/arteria-dsmc/

# Whitelisted DSMC warnings. 
#
# ANS1809W = a session with the TSM server has been disconnected: will retry again
# ANS2042W = a symblic link to a file on other fs has been uploaded: acls/extended attributes might not be backed up
# ANS2250W = a TSM core file or crash report was found
#
# See full list at e.g. https://www.ibm.com/support/knowledgecenter/en/SSGSG7_7.1.1/com.ibm.itsm.msgs.client.doc/msgs_client_list_intro.html
whitelisted_warnings: ["ANS1809W", "ANS2042W", "ANS2250W"]

# Exclude filters (different on biotank and Irma) 
#
# Dirs and file extensions to exclude from the _archive copy of the runfolder/project
exclude_dirs: ["Data", "Thumbnail_Images"]
exclude_extensions: [".bcl"]

# Elements to exclude from the tarball of the _archive dir 
exclude_from_tarball: ["Config", "InterOp", "SampleSheet.csv", "Unaligned", "runParameters.xml", "RunInfo.xml"]

