# Default configuration file for dsmc service

---

#monitored_directory: /data/mm-xart002/runfolders/
monitored_directory: /tmp/
# On biotanks this will be the same as monitored_directory, 
# but on Irma we want an other path. 
path_to_archive_root: /data/mm-xart002/runfolders

port: 9494

# Used when running with localq runner to determine the maximum number of
# used for running checksums
number_of_cores: 4

# Path to the logs
dsmc_log_directory: /tmp/arteria-dsmc/

# Whitelisted DSMC warnings
whitelisted_warnings: ["ANS1809W", "ANS2000W"]

# Exclude filters (different on biotank and Irma) 
exclude_dirs: ["Data", "Thumbnail_Images"]
exclude_extensions: ["*.bcl"]
